.lightbox {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    color: antiquewhite;
    background-color: rgb(89, 90, 90);
    display: none;

    span {
        float: right;
        font-size: 2em;
        cursor: pointer;
        padding: 1em;
    }
}

.show-lightbox {
    display: block;
}
